/* fonts */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(rubik.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(source-sans-pro-light.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(source-sans-pro.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(source-sans-pro-semi-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(source-sans-pro-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --blue-dark: #292d87;
  --blue-dark-bg: #292e873f;
  --blue-light: #354e91;
  --orange: #e87109;
  --orange-bg: #e8710941;
  --red: #d80c1d;
  --red-bg: #c70c1b34;
  --green: #068550;
  --green-bg: #0685502c;
  --gray-super-light: #f9f9f9;
  --gray-super-duper-light: #fafafa;
  --gray-light: #f0f0f0;
  --gray-mid-light: #cccccc;
  --gray: #8c8c8c;
  --gray-dark: #333333;

  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--gray-light);
}

h1,
h2,
h3,
h4,
p,
dl,
ul {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: var(--blue-dark);
}

a:hover {
  background-color: var(--blue-dark);
  color: white;
}

a.button {
  background-color: var(--blue-dark);
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

a.button:hover {
  background-color: var(--blue-light);
}

button {
  background-color: var(--blue-dark);
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
}

button:hover {
  background-color: var(--blue-light);
}

/* spacers */
.spacer1 {
  width: 100%;
  height: 12px;
  flex-shrink: 0;
}

.xspacer1 {
  height: 1px;
  width: 12px;
}

.spacermax {
  display: flex;
  flex-grow: 1;
}

.spacer2 {
  width: 100%;
  height: 24px;
  flex-shrink: 0;
}

.xspacer2 {
  width: 1px;
  width: 24px;
}

.spacer3 {
  width: 100%;
  height: 36px;
  flex-shrink: 0;
}

.xspacer3 {
  height: 1px;
  width: 36px;
}

.spacer4 {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
}

.xspacer4 {
  height: 1px;
  width: 48px;
}

.spacer5 {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
}

.xspacer5 {
  height: 1px;
  width: 60px;
}

.spacer6 {
  width: 100%;
  height: 72px;
}

.xspacer6 {
  height: 1px;
  width: 72px;
}

.spacer7 {
  width: 100%;
  height: 84px;
  flex-shrink: 0;
}

.xspacer7 {
  height: 1px;
  width: 84px;
}

.spacer8 {
  width: 100%;
  height: 96px;
  flex-shrink: 0;
}

.xspacer8 {
  height: 1px;
  width: 96px;
}

.spacer1cm {
  height: 1cm;
  flex-shrink: 0;
}

.spacer2cm {
  height: 2cm;
  flex-shrink: 0;
}

.spacer3cm {
  height: 3cm;
  flex-shrink: 0;
}

.spacer4cm {
  height: 4cm;
  flex-shrink: 0;
}

.spacer5cm {
  height: 5cm;
  flex-shrink: 0;
}

.spacer6cm {
  height: 6cm;
  flex-shrink: 0;
}

.spacer7cm {
  height: 7cm;
  flex-shrink: 0;
}

.spacer8cm {
  height: 8cm;
  flex-shrink: 0;
}

.spacer9cm {
  height: 9cm;
  flex-shrink: 0;
}

.spacer10cm {
  height: 10cm;
  flex-shrink: 0;
}

.spacer11cm {
  height: 11cm;
  flex-shrink: 0;
}

.spacer12cm {
  height: 12cm;
  flex-shrink: 0;
}

.spacer13cm {
  height: 13cm;
  flex-shrink: 0;
}

.spacer14cm {
  height: 14cm;
  flex-shrink: 0;
}

.spacer15cm {
  height: 15cm;
  flex-shrink: 0;
}

.spacer16cm {
  height: 16cm;
  flex-shrink: 0;
}

.spacer17cm {
  height: 17cm;
  flex-shrink: 0;
}

.spacer18cm {
  height: 18cm;
  flex-shrink: 0;
}

.spacer19cm {
  height: 19cm;
  flex-shrink: 0;
}

.spacer20cm {
  height: 20cm;
  flex-shrink: 0;
}

.spacer21cm {
  height: 21cm;
  flex-shrink: 0;
}

.spacer22cm {
  height: 22cm;
  flex-shrink: 0;
}

.spacer23cm {
  height: 23cm;
  flex-shrink: 0;
}

.spacer24cm {
  height: 24cm;
  flex-shrink: 0;
}

.spacer1px {
  height: 1px;
}

/* text-color */
.text {
  color: var(--gray);
}

.text-gray-dark {
  color: var(--gray-dark);
}

.text-gray {
  color: var(--gray);
}

.text-blue-light {
  color: var(--blue-light);
}

.text-blue-dark {
  color: var(--blue-dark);
}

.text-small {
  font-size: 0.8em;
}

.small {
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.scroll-x {
  overflow-x: auto;
}

.max-content {
  width: max-content;
}

/* table */
table .bg-red,
table tr:nth-child(even) td.bg-red {
  background-color: #d80c1d33;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) td {
  background-color: var(--gray-super-light);
  border-right: 1px solid white;
}

table tr td {
  border-right: 1px solid white;
}

table tr th {
  background-color: var(--blue-dark);
  color: white;
  text-align: left;
  font-weight: normal;
  font-size: 0.8em;
  padding: 6px 12px;
  border-right: 1px solid white;
}

table tr th.special {
  background-color: var(--blue-light);
  border-bottom: 1px solid white;
}

/* table column */
table.column {
  display: table;
}

table.column tr {
  display: table-cell;
}

table.column td,
table.column th {
  display: block;
}

table.column tr:nth-child(even) td {
  background-color: transparent;
}

table.column tr td:nth-child(odd) {
  background-color: var(--gray-super-light);
}

table tr td.key {
  background-color: var(--blue-dark);
  color: white;
  border: 1px solid var(--blue-dark);
  border-bottom: 1px solid white;
  text-align: right;
}

table tr td.key.last {
  border-bottom: 1px solid var(--blue-dark);
}

table tr td.value {
  background-color: white;
  border: 1px solid var(--blue-dark);
}

table.small td {
  font-size: 0.8em;
}

table.center td {
  text-align: center;
}

/* code */
code {
  font: Menlo, Monaco, "Courier New", monospace;
  font-feature-settings: "liga" 0, "calt" 0;
  background-color: var(--gray-super-light);
  color: black;
  font-size: 80%;
  letter-spacing: 0px;
  margin: 0;
  padding: 0.2em 0.4em;
  tab-size: 2;
}

pre > code {
  font-size: 12px;
  line-height: 18px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
}

pre {
  background-color: #1e1e1e;
  color: white;
  padding: 12px;
  padding-right: 42px;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 48px;
  height: 100vh;
  background-color: var(--blue-dark);
  display: flex;
  flex-direction: column;
}

.sidebar a {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: var(--blue-light);
}

.sidebar a span {
  color: white;
  font-size: 10px;
}

.sidebar div.divider {
  height: 2px;
  background-color: var(--blue-light);
}

/* sidebar */
#sidebar-hint {
  position: fixed;
  top: 0;
  left: 0px;
  width: 24px;
  height: 100vh;
  z-index: 0;
  background-color: var(--blue-dark);
}

#sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 300px;
  height: 100vh;
  z-index: 1;
  font-size: 0.7em;
  background: #f9f9f9;
  overflow-y: auto;
  padding-bottom: 20px;
  opacity: 1;
  transition: 0.2s;
  padding: 12px;
  box-shadow: var(--shadow);
  border-right: 24px solid var(--blue-dark);
}

#sidebar:hover {
  left: 0;
  opacity: 1;
}

#sidebar p {
  text-align: left;
}

#sidebar > div {
  align-items: start;
}

#sidebar .toc p.h1 {
  margin-top: 26px;
  margin-bottom: 8px;
  font-size: 18px;
}

#sidebar .toc p.h1:first-child {
  margin-top: 0;
}

#sidebar .toc p.h1 a {
  font-size: 18px;
}

#sidebar .toc p.h1 > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#sidebar .toc p.h1 > a:hover {
  color: white;
}

#sidebar .toc p.h2 {
  margin-bottom: 6px;
  font-size: 16px;
}

#sidebar .toc p.h2 a {
  font-size: 16px;
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

#navbar a {
  color: var(--gray);
  text-decoration: none;
  padding: 4px 12px;
  border-bottom: 4px solid transparent;
  font-size: 18px;
  margin: 0 4px;
}

#navbar a:hover,
#navbar a.active {
  color: black;
  border-bottom: 4px solid var(--blue-dark);
  background-color: transparent;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

#footer a {
  color: var(--gray);
  text-decoration: none;
  padding: 4px 12px;
  border-bottom: 4px solid transparent;
  font-size: 18px;
  margin: 0 4px;
}

#footer a:hover,
#footer a.active {
  color: black;
  border-bottom: 4px solid var(--blue-dark);
  background-color: transparent;
}

/* list entries */
.entries > div {
  margin: 4px 0;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
}

.breadcrumbs .crumb a {
  color: var(--gray);
  text-decoration: none;
}

.breadcrumbs .crumb:last-child a {
  color: var(--gray-dark);
}

.breadcrumbs .crumb a:hover {
  color: white;
}

.breadcrumbs .separator {
  padding-left: 8px;
  padding-right: 8px;
}

.breadcrumbs .separator path {
  fill: var(--gray);
}

.breadcrumbs .separator:first-child {
  display: none;
}

/* document */
.document h1 {
  margin-bottom: 12px;
}

.document h2 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.document h3 {
  margin-bottom: 4px;
  color: var(--blue-dark);
}

.document p {
  margin-bottom: 4px;
}

.document li {
  margin-left: 20px;
}

/* document -> table */
.document table td {
  padding: 6px 6px;
}

.document table td p:last-child {
  margin-bottom: 0px;
}

table td.bold {
  font-weight: bold;
}

table td.right {
  text-align: right;
}

table td.top {
  vertical-align: top;
}

table.top td {
  vertical-align: top;
}

.w90p {
  width: 90%;
}

.w80p {
  width: 80%;
}

.w70p {
  width: 70%;
}

.w60p {
  width: 60%;
}

.w50p {
  width: 50%;
}

.w40p {
  width: 40%;
}

.w30p {
  width: 30%;
}

.w20p {
  width: 20%;
}

.w10p {
  width: 10%;
}

/* document -> badge */
.document span.badge {
  background-color: var(--blue-dark);
  padding: 2px 8px;
  font-size: 0.8em;
  color: white;
}

.document span.badge.orange {
  background-color: var(--orange);
}

/* document -> progress */
.document div.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
}

.document div.progress span {
  padding-bottom: 2px;
  color: var(--blue-dark);
}

.document div.progress div.bar {
  width: 100%;
  height: 4px;
  background-color: var(--blue-dark-bg);
}

.document div.progress div.bar div.fill {
  height: 4px;
  background-color: var(--blue-dark);
}

/* red */
.document div.progress.red span {
  color: var(--red);
}

.document div.progress.red div.bar {
  background-color: var(--red-bg);
}

.document div.progress.red div.bar div.fill {
  background-color: var(--red);
}

/* orange */
.document div.progress.orange span {
  color: var(--orange);
}

.document div.progress.orange div.bar {
  background-color: var(--orange-bg);
}

.document div.progress.orange div.bar div.fill {
  background-color: var(--orange);
}

/* green */
.document div.progress.green span {
  color: var(--green);
}

.document div.progress.green div.bar {
  background-color: var(--green-bg);
}

.document div.progress.green div.bar div.fill {
  background-color: var(--green);
}

/* document -> multipage */
.document .multipage {
  width: 21cm;
  background-color: white;
  padding: 2cm 2cm;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  box-shadow: var(--shadow);
}

/* document -> site */
.document .site {
  width: 100%;
  max-width: 21cm;
  background-color: white;
  padding: 2cm 2cm;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--shadow);
}

.document .site h1,
.document .site h2,
.document .site h3 {
  margin: 0;
}

/* slides */
.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

/* slides -> slide */
.slides .slide {
  width: 100%;
  max-width: 29.7cm;
  min-height: 20.95cm;
  background-color: white;
  padding: 2cm 2cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  position: relative;
  box-shadow: var(--shadow);
}

.slides .slide.a4 {
  width: 29.7cm;
  height: 20.95cm;
  min-height: 0;
  max-width: none;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.slides .slide.inactive {
  display: none;
}

/* slide -> headers */
.slides h1,
.slides h2,
.slides h3,
.slides h4 {
  text-align: center;
}

.slide div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide div.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.shadow1 {
  box-shadow: var(--shadow);
}

.shadow2 {
  box-shadow: 0px 10px 16px #0000005e;
}

.rounded1 {
  border-radius: 4px;
}

.rounded2 {
  border-radius: 6px;
}

.rounded3 {
  border-radius: 8px;
}

.rounded4 {
  border-radius: 16px;
}

.slides h1 {
  font-size: 42px;
}

.slides h2 {
  font-size: 32px;
  font-weight: 600;
  background-color: var(--blue-dark);
  color: white;
  padding: 6px 12px;
}

.slides h3 {
  font-size: 28px;
  font-weight: 600;
}

.slides h4 {
  font-size: 24px;
  font-weight: 600;
}

.slides p {
  font-size: 24px;
  text-align: center;
}

.slides a {
  font-size: 24px;
  text-align: center;
}

.slides p.small {
  font-size: 18px;
}

.slides blockquote {
  font-size: 24px;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: var(--gray-dark);
}

/* slide -> toc */
.slide p.toc.h1 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.slide p.toc.h1:first-child {
  margin-top: 0;
}

.slide p.toc.h1 a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.slide p.toc.h1 a:hover {
  color: white;
}

/* slide -> table */
.slides table {
  font-size: 24px;
}

.slides table tr td {
  padding: 6px 12px;
}

/* header and footer */
.slide .header,
.slide .footer {
  color: var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.slide .footer {
  top: initial;
  bottom: 0;
  left: 0;
}

.slide .box {
  background-color: var(--gray-super-light);
  padding: 20px;
}

.slide .box.blue {
  background-color: var(--blue-dark);
  color: white;
}

.slide .box.green {
  background-color: var(--green);
  color: white;
}

.slide .box.orange {
  background-color: var(--orange);
  color: white;
}

.slide .frame {
  border: 2px solid var(--gray-super-light);
  padding: 20px;
}

/* cite */
.slide p.cite {
  color: var(--gray);
  font-size: 1em;
}

.slide p.cite a {
  font-size: 1em;
  color: var(--gray);
}

.slide p.cite a:hover {
  color: white;
}

.slide .doc {
  box-shadow: var(--shadow);
  padding: 1cm;
  display: block;
}

.slide .doc h2 {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--blue-dark);
}

.slide .doc > * {
  text-align: left;
  font-size: 1em;
}

/* presentation */
.presentation {
  padding: 0;
  height: 100vh;
  justify-content: center;
}

.presentation .slide {
  margin: 0;
  width: 29.7cm;
  height: 20.95cm;
  min-height: 0;
  max-width: none;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.presentation .slide *[class^="at"] {
  visibility: hidden;
}

.presentation .slide *[class^="at"].active {
  visibility: visible;
}

/* fadein */
.presentation .slide .fadein {
  transition: opacity 300ms;
  opacity: 0;
}

.presentation .slide .fadein.active {
  opacity: 1;
}

/* scalein */
.presentation .slide .scalein {
  transition: all 300ms;
  transform: scale(2);
  opacity: 0;
}

.presentation .slide .scalein.active {
  opacity: 1;
  transform: scale(1);
}

/* manipulators */
.left,
.slide .left {
  text-align: left;
}

.right,
.slide .right {
  text-align: right;
}

/* full */
div.full {
  background-color: white;
  padding: 1cm;
  margin-left: 48px;
}

tr.schedule {
  width: 200px;
}

tr.current th {
  background-color: var(--orange);
}

tr.current td,
tr.current:nth-child(even) td {
  background-color: var(--green-bg);
}

/* link styles */
a.youtube {
  position: relative;
}

a.youtube svg.icon {
  position: absolute;
  top: 35%;
  left: 36%;
}

a.youtube:hover {
  background-color: transparent;
}

a.image:hover {
  background-color: transparent;
}

/* pages */
.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.pages .page {
  width: 21cm;
  height: 29.7cm;
  background-color: white;
  padding: 2cm 2cm;
  box-shadow: var(--shadow);
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}

.pages .page .header {
  position: absolute;
  top: 0;
  left: 2cm;
  height: 1.5cm;
  width: 17cm;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.pages .page .footer {
  position: absolute;
  bottom: 0;
  left: 2cm;
  height: 1.5cm;
  width: 17cm;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.pages .page h2 {
  padding: 0;
  margin: 0;
}

.pages .exercise .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.pages .exercise .name h2 {
  flex-grow: 1;
  padding: 6px 12px;
  background-color: var(--blue-dark);
  color: white;
  font-size: 20px;
}

.pages .exercise .name div {
  border-left: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 12px;
  background-color: var(--blue-dark);
  color: white;
}

.pages .exercise .name div.field {
  border: 1px solid var(--blue-dark);
  margin-left: 1px;
  background-color: white;
  width: 2cm;
}

.pages .exercise .question {
  margin: 0.5cm 0;
}

.pages .exercise .answer {
  color: var(--blue-dark);
  background-color: rgba(100, 100, 100, 0.1);
  border-bottom: 1px solid var(--green);
}

.pages .cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages .cover h2 {
  font-weight: 600;
  background-color: var(--blue-dark);
  color: white;
  padding: 6px 12px;
  border-bottom: 2px solid white;
}

.pages .cover p {
  margin: 0;
}

.pagebreak {
  break-after: always;
  page-break-after: always;
}

/* hhn-sequencer */
hhn-sequencer {
  background-color: var(--gray-light);
  width: 100%;
}

hhn-sequencer .label {
  display: block;
}

hhn-sequencer .topbar {
  background-color: var(--blue-dark);
  color: white;
  height: 36px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
}

hhn-sequencer .subbar {
  background-color: var(--gray-super-duper-light);
  color: var(--gray-dark);
  font-size: 1em;
  height: 36px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
}

hhn-sequencer .topbar .buttons {
  display: flex;
  flex-direction: row;
}

hhn-sequencer .topbar button {
  border: 0;
  background-color: transparent;
  height: 36px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0 12px;
}

hhn-sequencer .topbar button:hover {
  background-color: var(--blue-light);
}

hhn-sequencer .component .box {
  stroke: black;
  fill: white;
  stroke-width: 2px;
}

hhn-sequencer .component .name {
  font-weight: bold;
  text-align: center;
}

hhn-sequencer .component .legend {
  alignment-baseline: middle;
  text-anchor: middle;
}

hhn-sequencer .component .timeline {
  stroke: black;
  stroke-width: 2px;
}

hhn-sequencer .step .line {
  stroke: black;
  stroke-width: 2px;
}

hhn-sequencer .step .bg {
  fill: var(--gray-mid-light);
  stroke: black;
  stroke-width: 2px;
}

hhn-sequencer .step .title-box {
  overflow: visible;
}

hhn-sequencer .step .title {
  padding: 2px 4px;
  background-color: var(--gray-mid-light);
  border: 2px solid black;
}

hhn-sequencer .timeline .grid {
  stroke: #d9d9d9;
  stroke-width: 1px;
}

hhn-sequencer .timeline .name {
  font-size: 0.8em;
}

hhn-sequencer .timeline .name-right {
  text-align: right;
  font-size: 0.8em;
}

hhn-sequencer .statetable .box {
  fill: white;
}

hhn-sequencer .statetable .value {
  font-size: 0.9em;
  text-align: center;
}

hhn-sequencer .statetable .key {
  padding-top: 1px;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

hhn-sequencer .statetable .bg {
  fill: var(--gray-light);
  stroke: var(--gray-mid-light);
  stroke-width: 1px;
}

hhn-sequencer .statetable .frame {
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
}

hhn-sequencer .icon {
  fill: white;
}

/* hhn-grid */
hhn-grid {
  display: block;
  width: 100%;
  position: relative;
}

hhn-grid svg {
  position: absolute;
}

hhn-grid line.grid {
  stroke: var(--gray-super-light);
  stroke-width: 1px;
}

/* text color */
.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue-dark);
}

.indent {
  padding-left: 16px;
  text-indent: -16px;
}

/* hidden feature */
.hidden,
div.hidden {
  display: none;
}

/* dropdown */
hhn-dropdown {
  position: absolute;
  background-color: white;
  width: 150px;
  box-shadow: var(--shadow);
}

hhn-dropdown > div {
  padding: 4px 6px;
  cursor: pointer;
  font-size: 0.9em;
}

hhn-dropdown > div:hover {
  background-color: var(--blue-dark);
  color: white;
}

/* kart */
hhn-kart {
  position: relative;
}

hhn-kart .background {
  background-color: #55a466;
}

hhn-kart-player {
  position: relative;
}

hhn-kart .kart {
  background-color: red;
}

/* prism syntax highlighting */
.token.description {
  color: #6a9955;
}

.token.keyword {
  color: #c586c0;
}

.token.class-name {
  color: #4ec9b0;
}

.token.annotation {
  color: #4ec9b0;
}

.token.symbol {
  color: #569cd6;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.key {
  color: #9cdcfe;
}

.token.scalar {
  color: #4fc1ff;
}

.token.constant {
  color: #4fc1ff;
}

.token.number {
  color: #b5cea8;
}

.token.string {
  color: #ce9178;
}

.token.function {
  color: #dcdcaa;
}

.token.property {
  color: #9cdcfe;
}

/* prism line-numbers */
pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid rgb(53, 53, 53);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgb(97, 97, 97);
  display: block;
  padding-right: 0.5em;
  text-align: right;
}
