body {
  background-color: transparent;
}

@page {
  size: A4 landscape;
  margin: 0;
}

td {
  break-inside: avoid;
}

.slides {
  display: block;
  padding: 0;
}

.slides .slide {
  margin: 0;
  break-after: always;
  page-break-after: always;
  box-shadow: none;
}

.slides .header,
.slides .footer {
  padding: 20px;
}

.slide .toc {
  display: block;
}

#sidebar,
#sidebar-hint,
.sidebar,
#navbar,
#footer {
  display: none;
}
