body {
  background-color: transparent;
}

@page {
  size: A4 portrait;
  margin: 0;
}

.pages {
  display: initial;
  padding: 0;
}

.pages .page {
  box-shadow: none;
  break-after: always;
  page-break-after: always;
  margin: 0;
}

td {
  break-inside: avoid;
}

.pages .exercise .answer {
  background-color: transparent;
  border: 0;
}

.meta {
  display: none;
}
