body {
  background-color: transparent;
}

@page {
  size: A4 portrait;
  margin: 3cm 2cm;
}

.document .multipage {
  padding: 0;
  width: 100%;
  margin: 0;
  box-shadow: none;
}

td {
  break-inside: avoid;
}

#sidebar,
.sidebar {
  display: none;
}
